* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.mainBlog-sectionTwo{
    background-color: #0A2640;
}

.mainBlog-sectionTwo-divCenter{
    border: 1px solid red;
    width: 90%;
    
    margin: auto;
}

.mainBlog-sectionTwo-h6{
    font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 32px;
color: #F1F1F1;
text-align: center;
}

.mainBlog-sectionTwo-h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 64px;
line-height: 84px;
text-align: center;
color: #FFFFFF;
}

.mainBlog-sectionTwo-blog{
    display: flex;
    margin-top: 65px;
    border: 1px solid red;
}

.mainBlog-sectionTwo-blog-div{
    border: 1px solid rgb(212, 201, 201);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.mainBlog-sectionTwo-blog-div-p span{
    font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
color: #fff;
}

.mainBlog-sectionTwo-blog-div-p{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;

}

.mainBlog-sectionTwo-blog-div-h3{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 72px;
color: #fff;
}

.mainBlog-sectionTwo-blog-div-divImg{
    display: flex;
    align-items: center;
}

.mainBlog-sectionTwo-blog-div-divImg span{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fff;
    margin-left: 12px;
}