* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.header {
    padding: 56px 0;
    background-color: #0A2640;
}

.header-center {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header-center-nav {
    width: 50%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-center-nav-ul {
    display: flex;
    width: 72%;
    align-items: center;
    justify-content: space-between;
}

.nav-ul-li {
    list-style: none;
    font-size: 16px;
}

.lilog {
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 24px;
    width: 128px;
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 16px;
}

.nav-ul-li-link {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    color: white;
}

.logai {
    color: #0A2640;
    font-size: 16px;
    font-weight: 700;
}

/* end header */

.main-sectionOne{
    background-color: #0A2640 ;
}

.main-sectionOne-saveTime{
    width: 90%;
    margin: auto;
    display: flex;
}

.main-sectionOne-saveTime-divOne{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-sectionOne-saveTime-divOne-title{
    font-family: 'Manrope';
    font-weight: 400;
    width: 82%;
    
font-size: 48px;
color: #FFFFFF;
margin-bottom: 16px;
}

.main-sectionOne-saveTime-divOne-paragraph{
    font-weight: 400;
    width: 85%;
    line-height: 30px;
font-size: 16px;
color: #F1F1F1;
margin-bottom: 40px;
}

.main-sectionOne-saveTime-divOne-buttons-bt1{
    background: #65E4A3;
border: 2px solid #69E6A6;
border-radius: 56px;
width: 247px;
height: 60px;
font-weight: 700;
font-size: 20px;
color: #0A2640;
margin-right: 24px;
}

.main-sectionOne-saveTime-divOne-buttons-bt2{
    width: 187px;
height: 60px;
background-color: transparent;
border: 2px solid #FFFFFF;
border-radius: 56px;
padding: 16px 56px;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
}

.main-sectionOneTwo-divOne {
    text-align: center;
    margin-top: 82px;
}

.main-sectionOneTwo-divOne-title {
    font-weight: 400;
    font-size: 20px;
    color: #777777;
    margin-bottom: 12px;
}

.main-sectionOneTwo-divOne-title2 {
    width: 60%;
    margin: auto;
    font-weight:400;
    font-size: 48px;
    color: #000000;
}

.main-sectionOneTwo-divTwomain-sectionOneTwo-divTwo {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 78px;
    margin-bottom: 197px;
    gap: 50px;
}

.main-sectionOneTwo-divTwo-card-img {
    margin-bottom: 24px;
  
}


.main-sectionOne1 {
    font-weight: 400;
    font-size: 24px;
    color: #000000;
    margin-bottom: 12px;
}

.main-sectionOneTwo-divTwo-card-paragraph2 {
    font-weight: 400;
    font-size: 20px;
    color: #777777;
    margin-bottom: 28px;
    
}
.main-sectionOneTwo-divTwo-card-link {
    font-weight: 700;
    font-size: 20px;
    color: #0A2640;
    text-decoration: none;
    display: flex;
    border-bottom: 1px solid #0A2640;
    width: 180px;
    padding-bottom: 8px;
    justify-content: space-between;
}

.main-sectionOneTwo-divTwo-card-link img {
    margin-left: 10px;
}

.main-sectionThree-customers{
    display: flex;
    width: 80%;
    margin: auto;
    gap: 157px;
}

.main-sectionThree-customers-divTwo{  
    width: 493px;
  
}

.main-sectionThree-customers-divTwo-title{
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    margin-top: 65px;
    margin-bottom: 40px;
    width: 493px;
    height: 164px;
}

.main-sectionThree-customers-divTwo-check{
    font-weight: 400;
    font-size: 20px;
    color: #000000;

}

.main-sectionThree-customers-divTwo-paragraph {
    display: flex;
    margin-bottom: 24px;
}

.main-sectionThree-customers-divTwo-paragraph img{
    width: 36px;
    height: 36px;
    margin-right: 27px;

}

.main-sectionThree-customers-divTwo-button {
    width: 210px;
    height: 60px;
    background: #0A2640;
    border: 2px solid #0A2640;
    border-radius: 56px;
    margin-top: 56px;

    font-weight: 700;
    font-size: 20px;
    color: #FFFFFF;
}

.main-sectionThree-customers-divOne-box1 {
    position: relative;
}

.main-sectionThree-customers-divOne-box2 {
    width: 250px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    position: absolute;
    right: 50px;
    top: 220px;
}

.main-sectionThree-customers-divOne-box1-img2 {
    width: 100%;
}

/* Fim sectionThree*/


.main-sectionFour-connect {
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 120px;
}

.main-sectionFour-connect-divOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 180px;

}

.main-sectionFour-connect-divOne-title {
    font-weight: 400;
    font-size: 36px;
    color: #000000;
    width: 75%;
    margin-bottom: 64px;
    
}

.main-sectionFour-connect-divOne-icons-paragraph {
    font-weight: 600;
    font-size: 16px;
    background: #FFFFFF;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    width: 500px;
    height: 68px;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 12px;
}

.main-sectionFour-connect-divOne-icons-paragraph:hover {
    background: #0A2640;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    color: #FFFFFF;
}

.ph {
  font-size: 30px;
}

.main-sectionFour-connect-divTwo {
    width: 80%;
}

.main-sectionFour-connect-divTwo-person {
    position: relative;
    height: 100%;
    margin-top: 40px;
}

.main-sectionFour-connect-divTwo-person2{
    position: absolute;
    top: 280px;
    left: 20px;
}

.main-sectionFour-connect-divTwo-person-img {
    width: 100%;
    height: 80%;
}