* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.header {
    background-color: #0A2640;
}

.header-center {
    width: 90%;
    margin: auto;
    display: flex;
    padding: 56px 0;
    justify-content: space-between;
    align-items: center;
}

.header-center-img {
    height: 30px;
}

.header-center-nav {
    width: 50%;
    display: flex;
    justify-content: right;
}

.header-center-nav-ul {
    list-style: none;
    display: flex;
    width: 80%;
    justify-content:space-between;
    align-items: center;
}

.nav-ul-li {
    margin-left: 25px;
    font-weight: 500;
}

.nav-ul-li-link {
    text-decoration: none;
    color: white;
}

.lilog {
    text-align: center;
    border-radius: 24px;
    padding: 8px 10px;
    width: 100px;
    background-color: white;
}

.login {
    color: black;
    font-weight: 700;

}

/* end header */

.main-sectionOne {
    background-color: #0A2640;
}

.main-sectionOne-saveTime {
    width: 90%;
    margin: auto;
    display: flex;
    padding-top: 44px;
}

.main-sectionOne-saveTime-divOne{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: left;
}

.main-sectionOne-saveTime-divOne-title {
    font-family: 'Manrope';
    width: 73%;
    font-weight: 400;
    font-size: 48px;
    color: white;
    margin-bottom: 16px;
}

.main-sectionOne-saveTime-divOne-paragraph {
    font-size: 16px;
    color: #F1F1F1;
    width: 80%;
    margin-bottom: 40px;
}

.main-sectionOne-saveTime-divOne-buttons-bt1 {
    background-color: #65E4A3;
    border: 2px solid #69E6A6;
    border-radius: 56px;
    width: 247px;
    height: 60px;
    font-weight: 700;
    font-size: 20px;
    margin-right: 24px;
}

.main-sectionOne-saveTime-divOne-buttons-bt2{
    width: 187px;
height: 60px;
border: 2px solid #FFFFFF;
border-radius: 56px;
padding: 16px 56px;
background-color: transparent;
font-weight: 700;
font-size: 20px;
color: #FFFFFF;
}